body {
  background-color: #fbfbfb;
  overflow-x: hidden;
}



/* login.html */






/* index.html */

.index-network-banner {
  background-image: url('/media/banner/Banner.jpg');
  background-size: cover;
  padding-top: 120px;
  color: white;
  padding-bottom: 10px;
}


.index-topic {
  /* background-color: darkred; */
}

#what-we-cover {
  text-align: center;
  color: #0d6efd;
}

.card-creator, .card-date {
  font-size: 12px;
  color: black;
}

.index-card-text {
  text-decoration-line: none;
}

.card-level-college {
  background-color: rgb(230, 61, 61);
  border-radius: 10px;
  padding: 0px 4px 0px 4px;
  text-decoration-line: none;
}

.card-level-high {
  background-color: rgb(227, 230, 61);
  border-radius: 10px;
  padding: 0px 4px 0px 4px;
  text-decoration-line: none;
}

.card-level-junior {
  background-color: rgb(61, 230, 193);
  border-radius: 10px;
  padding: 0px 4px 0px 4px;
  text-decoration-line: none;
}

.card-level-elementary {
  background-color: rgb(81, 230, 61);
  border-radius: 10px;
  padding: 0px 4px 0px 4px;
  text-decoration-line: none;
}





.contributor {
  /* background-color: gray; */
}

#our-contributors {
  text-align: center;
  color: black;
}

.card-profile-photo {
  height: 62px;
  border-bottom: 1px solid black;
}






/* profile.html */


/* @media (min-width: 768px){
  body {
    background-color: darkred;
  }
  .profile-info {
    font-size: 14px;
  }

}
@media (max-width: 576px){
  body {
    background-color: darkblue;
  }
  .profile-info {
    font-size: 12px;
  }

} */

.main-profile-container {
  height: 22vw;
}
@media (max-width: 768px){
  .main-profile-container {
    height: 30vh;
  }
  .profile-info {
    font-size: 20px;
  }
}
@media (min-width: 651px) {
  .profile-info {
    font-size: 2.5vw;
  }
}

#profile-change-status {
  text-decoration-line: none;
}

#profile-change-status:hover {
  cursor: pointer;
  color: black;
}

#profile-unfollow {
  background-color: gold;
  text-decoration-line: none;
  color: black;
}

#profile-unfollow:hover {
  background-color: yellow;
}

#profile-follow {
  background-color: blue;
  text-decoration-line: none;
  color: black;
}

#profile-follow:hover {
  background-color: lightblue;
}


.btn-profile {
  background-color: #fbfbfb;
  color: #121212;
}

.btn-profile:hover, .btn-profile:focus {
  background-color: cyan;
  color: #121212;
}

.btn-profile:hover {
  border-bottom-color: #0d6efd;
}

.profile-section {
  color: white;
}

.profile-quiz-container-anchor {
  text-decoration-line: none;
}

.profile-content {
  border: 1px solid black;
  border-radius: 20px;
}

.profile-content-col-1 {
  /* border: 1px solid black; */
  padding: 10px;
}

.profile-content-topic {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

@media (max-width:575px) {
  .profile-content-avgscr {
    border-top: 1px solid black;
  }
}

.profile-content-avgscr {
  font-size: 45px;
  /* border: 1px solid black; */
  border-left: 1px solid black;
}

.display-custom {
  font-size: 1.5rem;
}




footer {
  background-color: black;
  color: rgb(243, 231, 231);
  padding-top: 50px;
  height: auto;
  padding-bottom: 80px;
}

.fw-1, .fw-3 {
  border-right: 1px solid gray;
  border-left: 1px solid gray;
}

.list-item-footer {
  background-color: black;
  list-style-type: none;
}

.list-item-footer > a {
  text-decoration-line: none;
  color: gray;
}

.list-item-footer > a:hover {
  color: darkred;
}

.bg-custom-121212 {
  background-color: #121212;
}









/*  study.html  */

.study-network-banner {
  background-image: url('/media/banner/Banner.jpg');
  background-size: cover;
  padding-top: 120px;
  color: white;
  padding-bottom: 10px;
  text-align: center;
}

.study-topic {
  text-align: center;
}

.study-topic-card {
  height: 250px;
  padding: 15px 0px;
  background-color: #0d6efd;
}

.study-topic-title {
  overflow-wrap: break-word; 
  word-wrap: break-word; 
  word-break: break-word; 
  overflow: hidden;
}

.study-view-topic-btn {
  position: absolute; 
  bottom: 20px; 
  width: 50%; 
  left: 30%
}



/* topic.html */

.topic-network-banner {
  background-image: url('/media/banner/Banner.jpg');
  background-size: cover;
  padding-top: 120px;
  color: white;
  padding-bottom: 10px;
}

.topic-topic {
  text-align: center; 
}

.topic-topic-card {
  height: 250px;
  padding: 15px 0px;
  background-color: #0d6efd;
}

.topic-topic-card a {
  text-decoration-line: none;
  color: #121212;
}

.topic-topic-card a:hover {
  cursor: pointer;
  color: white !important;
}

.topic-topic-title {
  overflow-wrap: break-word; 
  word-wrap: break-word; 
  word-break: break-word; 
  overflow: hidden;
  height: 45%;
}

.topic-view-topic-btn {
  position: absolute; 
  bottom: 10px; 
  width: 50%; 
  left: 30%
}

.topic-card-text {
  color:gray;
}



/* test.html */

.test-questions-navigation-box {
  background-color: white;
  color: black;
  height: 30px; 
  width: 30px; 
  font-size: 14px;
  border-radius: 5px;
}

.test-questions-navigation-box>a {
  text-decoration-line: none;
  color: black;
}

.test-questions-navigation-box:hover {
  background-color: #0d6efd;
  cursor: pointer;
}

#test-footer {
  background-color: black;
  height: 200px;
}



/* answers.html */

.answers-radio-correct {
  background-color: darkgreen;
}

.answers-radio-incorrect {
  background-color: red;
}


/* make_quiz.html */

.make-a-quiz-quesion-q-label {
  border-radius: 10px;
  border: 1px solid black
}

.border-custom-121212 {
  border-color: #121212;
}