{% extends "quizApp/layout.html" %}
{% load static %}


{% block body %}

<div class="body">

  <div class="index-network-banner">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-8">
          <div class="main-banner-content">
            <h1>Welcome to Quiz App</h1>
            <p>Take quizzes made by the smartest people, or make your own quiz and test your friends!</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 d-flex align-items-center justify-content-center">
          <div class="row">
            <a href="{% url 'study' %}" class="btn btn-info btn-lg">Quiz Now!</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <section class="index-topic mb-5">
    <div class="container">

      <div class="row justify-content-center">
        <div class="col-lg-6 col-md-6 pt-3">
          <div id="what-we-cover">
            <h2>What We Cover</h2>
          </div>
        </div>
      </div>

      <div class="row">
        
        {% for topic in Topics %}
        <div class="col-lg-3 col-md-4 col-6 mt-3">
          <div class="card topic-card h-100 bg-primary text-light">
            <div class="card-body">
              <h3 class="card-title">{{ topic.title }}</h3>
            </div>
            <div class="container">
              <a class="card-text index-card-text text-light"><strong>{{ topic.quizzes.count }} Quizzes</strong></a> <br>
              <p class="card-text index-card-text"><strong>{{ topic.participant }} Participants</strong></p> <br>
            </div>
            <div class="container mb-3 w-75">
              <div class="row justify-content-center">
                <a href="{% url 'topic' topic.id topic.slug %}" class="btn btn-sm btn-warning align-items-end">View Topic</a>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
        
      </div>

      <!-- Implement with Pagination -->
      <!-- Only if the database is already too big -->
      <!-- <div class="row justify-content-center">
        <div class="col-lg-6 col-md-6 mt-4 mb-4">
          <div id="what-we-cover">
            <a href="#" class="btn btn-sm btn-primary">See More</a>
          </div>
        </div>
      </div> -->

    </div>
  </section>


  <section class="contributor bg-primary">
    <div class="container">

      <div class="row justify-content-center">
        <div class="col-lg-6 col-md-6 pt-3">
          <div id="our-contributors">
            <h2 class="text-light">Our Contributors</h2>
          </div>
        </div>
      </div>
      
      <div class="row">
        
        {% for contributor in Contributors %}
        <div class=" col-md-4 col-6 mt-3 mb-5">
          <div class="card topic-card border border-secondary h-100">
            <div class="card-body bg-info text-dark">
              <div class="row card-profile-photo">
                <div class="col-3 d-flex justify-content-center align-items-center">
                  <img src="{{ contributor.image }}" alt="{{ contributor.username }}" class="img-fluid" > <br>
                </div>
                <div class="col-9">
                  <a id="index-contributor-name"><strong>{{ contributor.username }}</strong></a> <br>
                  <a><strong>{{ contributor.get_level_display }}</strong></a> <br>
                </div>
              </div>
              <div class="row card-profile-detail p-2">
                <a>Since: {{ contributor.date_mm_dd_yy }}</a> <br>
                <a>{{ contributor.contribution_count }} Contributions</a> <br>
              </div>
              {% if request.user.is_authenticated %}
              <div class="container w-75">
                <div class="row justify-content-center pe-2 mt-4">
                  <a href="{% url 'profile' contributor.username %}" class="btn btn-sm btn-warning">View Profile</a>
                </div>
              </div>
              {% endif %}
            </div>
          </div>
        </div>
        {% endfor %}

        
      </div>


      <!-- Implement with Pagination -->
      <!-- Only if the database is already too big -->
      <!-- <div class="row justify-content-center">
        <div class="col-lg-6 col-md-6 mt-3 mb-3">
          <div id="what-we-cover">
            <a href="#" class="btn btn-sm btn-primary">See More</a>
          </div>
        </div>
      </div> -->
      
      
    </div>
  </section>


</div>
{% endblock %}


{% block script %}
    <script src="{% static 'quizApp/quizApp.js' %}"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script type="text/javascript">

    </script> -->
{% endblock %}