{% extends 'quizApp/layout.html' %}

{% block body %}

<div class="main-profile-container bg-dark">
  <div class="container bg-danger h-100">
    <div class="row h-100">
      <div class="col-lg-4 col-md-4 col-sm-5 col-5 d-flex align-items-center">
        <div class="container d-flex justify-content-center">
          <a href="#" >
            <img src="/{{ User.image }}" alt="{{ User.image }}" height="160" width="140" data-bs-toggle="modal" data-bs-target="#change_profile_pic_modal" class="img-fluid rounded-circle mt-1 border-dark border bg-light">
          </a>
        </div>
      </div>
      <div class="col-lg-8 col-md-8 col-sm-7 col-7 pt-4 ps-4">
        <div class="row profile-info p-1">
          {{ User.username }}
          {% if request.user.username == User.username %}
          {% else %}
            {% if Follow_status %}
            <div class="btn btn-sm btn-custom-121212 d-flex justify-content-center align-items-center ms-4" style="width: 15%;">
              <a href="{% url 'follow' User.username %}"  class="rounded-pill border p-1 border-dark" id="profile-unfollow">Unfollow</a>
            </div>
            {% else %}
            <div class="btn btn-sm btn-custom-121212 d-flex justify-content-center align-items-center ms-4" style="width: 15%;">
              <a href="{% url 'follow' User.username %}" class="rounded-pill border p-1 border-dark" id="profile-follow">Follow</a>
            </div>
            {% endif %}
          {% endif %}
        </div>
        {% if request.user.username == User.username %}
        <div class="row profile-info p-1" data-bs-toggle="modal" data-bs-target="#change_status_modalx" id="profile-change-status">
          {{ User.get_level_display }}
        </div>
        {% else %}
        <div class="row profile-info p-1">
          {{ User.get_level_display }}
        </div>
        {% endif %}
        <div class="row profile-info p-1">{{ User.status }}</div>
      </div>
      <div class="container d-flex align-items-end">
        <div class="col-lg-3 col-md-2 col-sm-1"></div>
        <div class="col-lg-6 col-md-8 col-sm-10" style="text-align: center;">
          <div class="btn btn-sm btn-profile" onclick="show_myQuizzes()">Quizzes</div>
          <div class="btn btn-sm btn-profile" onclick="show_followingQuizzes()">Following</div>
          <div class="btn btn-sm btn-profile" onclick="show_data()">Data</div>
        </div>
        <div class="col-lg-3 col-md-2 col-sm-1"></div>
      </div>
    </div>
  </div>
</div>


<!--  I THINK THIS SOULD BE A JAVASCRIPT, OR USE TOGGLE DISPLAY=HIDDEN/BLOCK TRICK  -->

<div class="container mt-4 profile-section">
  <div class="row mb-5">
    <div class="col-lg-3 col-md-2 col-sm-1"></div>
    <div class="col-lg-6 col-md-8 col-sm-10">
      Feels like to make a new quiz? &nbsp;
      <a href="{% url 'make_quiz' request.user.username %}"> <span> <div class="btn btn-dark">Make a New Quiz</div> </span> </a>
    </div>
    <div class="col-lg-3 col-md-2 col-sm-1"></div>
  </div>
  
  <!-- MyQuizzes -->
  <div class="row mt-3 profile-myQuizzes-container" style="display: flex;">
  {% for quiz in myQuizzes %}
  <div class="container">
    <div class="row mb-4">
    <div class="col-lg-1 col-md-1 col-sm-1" style="text-align: center;"></div>
    <div class="col-lg-10 col-md-10 col-sm-10 profile-content bg-dark" style="text-align: center;">
      <a href="{% url 'test' quiz.id quiz.slug %}" class="profile-quiz-container-anchor">
      <div class="row text-danger">
        <div class="col-lg-9 col-md-9 col-sm-9">
          <div class="row profile-content-judul p-2 display-custom ps-4">{{ quiz.title }}</div>
          <div class="row profile-content-topic p-2 display-custom ps-4">{{ quiz.topic.title }}</div>
          <div class="row profile-content-participant p-2 display-custom ps-4">Participant: {{ quiz.taken_by.count }}</div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 profile-content-avgscr d-flex justify-content-center align-items-center">{{ quiz.average_score | floatformat:2 }}</div>
      </div>
      </a>
    </div>
    <div class="col-lg-1 col-md-1 col-sm-1" style="text-align: center;"></div>
  </div>
  </div>

  {% empty %}

  {% if request.user.username == User.username %}
    <p class="display-6 mt-4 pt-4 d-flex justify-content-center">You haven't made any quizzes yet.</p>
  {% else %}
    <p class="display-6 mt-4 pt-4 d-flex justify-content-center">This account haven't made any quizzes yet.</p>
  {% endif %}
  
  {% endfor %}
  </div>
  <!-- MyQuizzes -->


  <!-- Following -->
  <div class="row mt-3 profile-followingQuizzes-container" style="display: none;">
    {% for quiz in followingQuizzes %}
    <div class="container">
      <div class="row mb-4">
        <div class="col-lg-1 col-md-1 col-sm-1" style="text-align: center;"></div>
        <div class="col-lg-10 col-md-10 col-sm-10 profile-content bg-dark" style="text-align: center;">
          <a href="{% url 'test' quiz.id quiz.slug %}" class="profile-quiz-container-anchor">
          <div class="row text-danger">
            <div class="col-lg-9 col-md-9 col-sm-9">
              <div class="row profile-content-judul p-2 display-custom ps-4">{{ quiz.title }}</div>
              <div class="row profile-content-topic p-2 display-custom ps-4">{{ quiz.topic.title }}</div>
              <div class="row profile-content-participant p-2 display-custom ps-4">Participant: {{ quiz.taken_by.count }}</div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 profile-content-avgscr d-flex justify-content-center align-items-center">{{ quiz.average_score }}</div>
          </div>
          </a>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1" style="text-align: center;"></div>
      </div>
    </div>
    {% empty %}
      
      <p class="display-6 mt-4 pt-4 d-flex justify-content-center">This account's following haven't made any quizzes yet.</p>
      
    {% endfor %}
  </div>
  <!-- Following -->

</div>



<!-- Data -->
<section class="data mt-5 text-danger mb-5">
  <div class="row profile-data-container" style="display: none;">
    <div class="col-lg-1 col-md-1"></div>
    <div class="col-lg-10 col-md-10">
      <div class="container">
        <div class="row border border-3 mt-3 border-dark p-3">
          <div class="col-lg-4 col-md-4 col-sm-4 col-6 p-3">
            <div class="container">
              <div class="row justify-content-center">CONTRIBUTION</div>
              <div class="row mt-2 ps-3">
                <ul class="list-group">
                  {% for title, count in Contributions %}
                    <li class="list-group-item bg-custom-121212 p-2 text-danger">{{ title }} ({{ count }})</li>
                  {% empty %}
                      {{ User.username }} hasn't made any contribution to any topic.
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-6 border-start border-end p-3 border-secondary">
            <div class="container">
              <div class="row justify-content-center">PARTICIPATION</div>
              <div class="row justify-content-center mt-2 display-5 p-3">{{ User.quizzes_taken.count }}</div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-12 p-3">
            <div class="container">
              <!-- <div class="row justify-content-center">RESOURCES</div> -->
              <div class="row justify-content-center">ACTIVE SINCE</div>
              <div class="row mt-4 ps-2 d-flex justify-content-center align-items-center">
                <!-- <ul class="list-group">
                  <li class="list-group-item bg-custom-121212 p-2 text-danger">Link 1</li>
                  <li class="list-group-item bg-custom-121212 p-2 text-danger">Link 2</li>
                  <li class="list-group-item bg-custom-121212 p-2 text-danger">Link 3</li>
                  <li class="list-group-item bg-custom-121212 p-2 text-danger">Link 4</li>
                </ul> -->
                <div class="row justify-content-center mt-2 display-custom">{{ User.date_mm_dd_yy }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-1 col-md-1"></div>
  </div>
</section>
<!-- Data -->


<!-- Change Profile Picture Modal -->
<div class="modal fade" id="change_profile_pic_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Change Profile Picture</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="{% url 'profile' user.username %}" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="mb-3">
            <input type="file" class="form-control-sm form-control" name="image">
          </div>
          <div class="mb-3">
          </div>
          <button type="submit" class="btn btn-primary w-100">Change</button>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Change Profile Picture Modal -->

<!-- Change Profile Picture Modal -->
<div class="modal fade" id="change_status_modalx" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Change Status</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="{% url 'profile' request.user.username %}" method="POST">
          {% csrf_token %}
          <div class="mb-3">
            <select type="file" class="form-select-sm form-control" name="status">
              {% for value, text in User.LEVEL_CHOICES %}
                <option value="{{text}}">{{text}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="mb-3">
          </div>
          <button type="submit" class="btn btn-primary w-100">Change</button>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Change Profile Picture Modal -->

{% endblock %}


{% block script %}
<script type="text/JAVASCRIPT">
  function show_myQuizzes() {
    document.querySelector('.profile-myQuizzes-container').style.display = 'flex'
    document.querySelector('.profile-followingQuizzes-container').style.display = 'none'
    document.querySelector('.profile-data-container').style.display = 'none'
  }
  
  function show_followingQuizzes() {
    document.querySelector('.profile-myQuizzes-container').style.display = 'none'
    document.querySelector('.profile-followingQuizzes-container').style.display = 'flex'
    document.querySelector('.profile-data-container').style.display = 'none'
  }
  function show_data() {
    document.querySelector('.profile-myQuizzes-container').style.display = 'none'
    document.querySelector('.profile-followingQuizzes-container').style.display = 'none'
    document.querySelector('.profile-data-container').style.display = 'flex'
  }

</script>
{% endblock %}