{% extends 'quizApp/layout.html' %}
{% load static %}

{% block body %}

<section class="test text-custom-121212 border-bottom border-primary">
    <div class="row test-timer border-bottom border-info pb-4 ps-4 pe-4 pt-4 bg-primary">
      <div class="col-lg-2 col-md-1"></div>
      <div class="col-lg-8 col-md-10">
        <div class="container">
          <div class="row">
            <h2 id="timer"></h2>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-md-1"></div>
    </div>

    <div class="row test-questions bg-info">
      <div class="col-lg-2"></div>
      <div class="col-lg-8 col-md-10 col-10 p-5">
        <div class="container test-questions-container">
          <div class="row">

            <form action="{% url 'answer' Quiz.id Quiz.slug Participant.id %}" id="test-form" class="text-custom-121212" method="POST" onsubmit="window.localStorage.removeItem('countDownValue'); localStorage.removeItem('countDownValue');">
              {% csrf_token %}
              
              {% for number, question in Questions %}
              <div class="container test-container-for-questions" id="container-question-{{ question.id }}">
                <h2>{{ number }}. {{ question }}</h2> <br>
                {% for option in question.options.all %}
                <div class="form-check mt-2 ms-4 mb-3">
                  <input type="radio" name="{{ question.id }}" id="{{ option.id }}" class="form-check-input test-all-input" value="{{ option.option }}"><label for="{{ option.id }}" class="form-check-label">
                    <h5>{{ option.option }}</h5>
                  </label>
                </div>
                {% endfor %}
                <br>
                <br>
              </div>
              {% endfor %}

              <div class="d-flex justify-content-end">
                <a class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#finish_modal">Finish</a>
                <!-- <input type="submit" value="Finish Now" class="btn btn-danger btn-lg"> -->
              </div>

              <!-- FINISH MODAL -->
              <div class="modal fade" id="finish_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content bg-light text-dark">
                    <div class="modal-header">
                      <h3 class="modal-title" id="exampleModalLabel">FINISH</h3>
                      <button type="button" class="btn-close bg-light" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <h5>Are you sure you want to finish the quiz?</h5>
                      <p>Make sure to check that there is no unanswered questions.</p>
                    </div>
                    <div class="modal-footer">
                      <input type="submit" value="Finish Now" class="btn btn-primary">
                    </div>
                  </div>
                </div>
              </div>
              <!-- FINISH MODAL -->

            </form>

          </div>
        </div>
      </div>
      <div class="col-lg-2 col-md-2 col-2 border-start border-primary">
        <div class="container test-questions-navigation">
          <div class="row mt-3">
            {% for number, id in Questions_Length.items %}
              <div class="test-questions-navigation-box d-flex justify-content-center align-items-center m-2" onclick="switch_number('{{ id }}')">
                <a class="">{{ number }}</a>
                <!-- <div class="btn btn-warning btn-sm" onclick="switch_number('{{ id }}')">{{ number }}</div> -->
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
</section>


<footer class="main-footer" id="test-footer">
  <div class="container d-flex justify-content-center mt-3">
    <div class="row">
      <h1> BE HONEST AND GOOD LUCK !! </h1>
    </div>
  </div>
</footer>




{% endblock %}


{% block script %}
  <script src="{% static 'quizApp/test1.js' %}"></script>
  <script type="text/JavaScript">

    // ============== NOT NEEDED IN THE END (django date to javascript date converter)
    // get time start
    // var start = "{{ Participant.time_start }}"
    // if (start.includes("p.m.")) {
    //   start = start.replace("p.m.", "")
    //   split_date = start.split(", ")

    //   jam_menit = split_date[2]
    //   tahun = split_date[1]
    //   tgl_bulan = split_date[0]

    //   jam = jam_menit.split(":")[0]
    //   menit = jam_menit.split(":")[1].replace(" ", "")
    //   detik = "00"

    //   // Convert to integer
    //   if (parseInt(jam) != 12) {
    //     jam = parseInt(jam) + 12
    //     jam = String(jam)
    //   } else {
    //     jam = jam
    //   }
    // }
    // else if (start.includes("a.m.")) {
    //   start = start.replace("a.m.", "")
    //   split_date = start.split(", ")

    //   jam_menit = split_date[2]
    //   tahun = split_date[1]
    //   tgl_bulan = split_date[0]

    //   jam = jam_menit.split(":")[0]
    //   menit = jam_menit.split(":")[1].replace(" ", "")
    //   detik = "00"

    //   // Convert to integer
    //   if (parseInt(jam) == 12) {
    //     jam = parseInt(jam) - 12
    //     jam = String(jam)
    //   } else {
    //     jam = jam
    //   }
    // }
    // // Combine
    // start = tgl_bulan + ", " + tahun + " " + jam + ":" + menit + ":" + detik

    // check local storage
    duration = localStorage.getItem('countDownValue')
    if (duration === null) {
      var duration = new Date().getTime()
      duration = duration + 2*60*60*1000; // 2 hours difference between currently taking the quiz
    }
    
    var x = setInterval(function() {

      // Current time
      var now = new Date().getTime();

      // Distance between now and the count down date
      var distance = duration - now;

      // Calculations
      var days = Math.floor(distance / (1000*60*60*24));
      var hours = Math.floor((distance % (1000*60*60*24)) / (1000*60*60));
      var minutes = Math.floor((distance % (1000*60*60)) / (1000*60));
      var seconds = Math.floor((distance % (1000*60)) / (1000));

      // Put into html
      document.getElementById("timer").innerHTML = "Timer: " + hours + "h " + minutes + "m " + seconds + "s ";
      
      // save into local storage
      localStorage.setItem('countDownValue', duration)

      // If the count down is over, write some text
      if (distance < 0) {
        clearInterval(x);
        document.getElementById("timer").innerHTML = "Expired";
        document.getElementsByClassName("test-all-input").forEach(e => {
          e.readOnly = true;
        })
        window.localStorage.removeItem('countDownValue');
        document.getElementById('test-form').submit();
      }
    })
  </script>
{% endblock %}